<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOLStartUpTemplate3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <GOLStartUpTemplate3.Properties.Settings>
            <setting name="BackGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WidthCell" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HeightCell" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="NumOfAlive" serializeAs="String">
                <value>0</value>
            </setting>
        </GOLStartUpTemplate3.Properties.Settings>
    </userSettings>
</configuration>
